/* isi peraturan */
.peraturan{
    min-height: 500px;
    min-width: 60px;
    border-radius: 20px;
    padding-right: 20px;
    box-sizing:border-box ;
    text-align: center;
    display: none;
    font-size: 10px;
    
}
.peraturan ol{
    text-align: justify;
}
/* isi peraturan */





.kertas{
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto;
    max-width: 550px;
    min-height: 500px;
    padding: 24px;
    position: relative;
    width: 72%;
}
.kertas:before,
.kertas:after {
content: "";
height: 98%;
position: absolute;
width: 100%;
z-index: -1;
}

.kertas:before {
background: #fafafa;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
left: -5px;
top: 4px;
transform: rotate(-2.5deg);
}

.kertas:after {
background: #f6f6f6;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
right: -3px;
top: 1px;
transform: rotate(1.4deg);
}




@media screen and (min-width:720px){
    /* isi peraturan */
.peraturan{
    min-height: 600px;
    /* min-width: 600px; */
    border-radius: 20px;
    padding-right: 20px;
    box-sizing:border-box ;
    text-align: center;
    display: none;
    font-size: 15px;
    
}
.peraturan ol{
    text-align: justify;
}
/* isi peraturan */





.kertas{
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto;
    max-width: 550px;
    min-height: 400px;
    padding: 24px;
    position: relative;
    width: 80%;
}
.kertas:before,
.kertas:after {
content: "";
height: 98%;
position: absolute;
width: 100%;
z-index: -1;
}

.kertas:before {
background: #fafafa;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
left: -5px;
top: 4px;
transform: rotate(-2.5deg);
}

.kertas:after {
background: #f6f6f6;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
right: -3px;
top: 1px;
transform: rotate(1.4deg);

}
}


